<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotoTrack - Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
    <main>
        <div class="container_login">
            <img th:src="@{/img/logo-azul.png}" alt="Logo da MotoTrack" />
            
            <section class="container_login_form">
                <div class="container_login_form_textos">
                    <h1>Bem-vindo de volta</h1>
                    <p>Entre com sua conta para continuar</p>
                </div>

                <form class="login_form" id="loginForm" action="/login" method="post">
                    <div class="form_group">
                        <label for="email">Email</label>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            placeholder="Digite seu email"
                            required
                        />
                        <div class="error_message" id="emailError">Por favor, insira um email válido</div>
                    </div>

                    <div class="form_group">
                        <label for="password">Senha</label>
                        <div class="password_container">
                            <input
                                type="password"
                                id="password"
                                name="senha"
                                placeholder="Digite sua senha"
                                required
                            />
                        </div>
                        <div class="error_message" id="passwordError">A senha deve ter pelo menos 6 caracteres</div>
                    </div>

                    <button type="submit" class="btn_primary">Entrar</button>
                </form>

                <div class="container_mensagem_login" id="loginMessage">
                    <p th:if="${param.error}" th:text="'Email ou senha inválidos.'"></p>
                </div>

                <div class="container_link_cadastro">
                    <p class="link_cadastro">Ainda não possui uma conta? <a href="/cadastrar">Cadastre-se</a></p>
                </div>
            </section>
        </div>
    </main>

</body>
</html>